{{ define "main" }}

	{{ partial "banner" site.Data.banner }}

  <!-- <section class="banner">
  <div class="content">
      <div class="wrapper style1 align-center">
      <h2> Personal Resume
      </h2>
      </div>

      <div>
        Education: Business School, Macao University of Science and Technology (Sep. 2022 - Jun. 2026)
      </div>
  </div>

</section> -->
<section class="wrapper style1 align-center" >
  <div class="inner">
      <h2> Education</h2>

  </div>
  <div>
    Business School, Macao University of Science and Technology (Sep. 2022 - Jun. 2026)
  </div>

</section>

<section class="wrapper style1 align-center" >
  <div class="inner">
      <h1>Club and organization experience</h1>

  </div>


</section>
	{{ partial "spotlight" site.Data.spotlight1 }}
	{{ partial "spotlight" site.Data.spotlight2 }}
	{{ partial "spotlight" site.Data.spotlight3 }}
	{{ partial "gallery" site.Data.gallery }}
	{{ partial "items" site.Data.items }}



	{{ partial "showreel" site.Data.showreel }}

	{{ partial "footer" . }}

{{ end }}
